:root {
	/* Main Color */
	--color-white: #f9f6f6;
	--color-gray-light: #f2f2f2;
	--color-gray: #e6e5e5;
	--color-gray-dark: #d8d8d8;
	--color-black: #333;
	--color-blue-light: #c0e0e5;
	--color-blue: #a9d2d9;
	--color-blue-dark: #238db3;
	--color-icon: #6a9bd8;

	/* Shadow */
	/* Blue */
	--shadow-blue: 4px 4px 8px #8eb0b6f8, -4px -4px 8px #c4f4fcc5;
	--shadow-blue-small: 2px 2px 6px #8eb0b6f8, -2px -2px 6px #c4f4fcd8;
	--shadow-blue-inset-small: inset 2px 2px 6px #8eb0b6f8,
		inset -2px -2px 6px #c4f4fcc5;
	/* Gray */
	--shadow-light: 4px 4px 8px #ccccccf3, -4px -4px 8px #fffffff6;
	--shadow-light-small: 2px 2px 6px #ccccccf3, -2px -2px 6px #fffffff6;
	--shadow-light-inset: inset 4px 4px 8px #ccccccf3,
		inset -4px -4px 8px #fffffff6;
	--shadow-light-inset-small: inset 2px 2px 6px #ccccccf3,
		inset -2px -2px 6px #fffffff6;
	--shadow-gray: 4px 4px 8px #c1c0c0f3, -4px -4px 8px #fffffff6;
	--shadow-gray-small: 2px 2px 6px #c1c0c0f3, -2px -2px 6px #fffffff6;
	--shadow-gray-inset-small: inset 2px 2px 6px #c1c0c0f3,
		inset -2px -2px 6px #fffffff6;
	--shadow-dark: 4px 4px 8px #b5b5b5f3, -4px -4px 8px #fffffff6;
	--shadow-dark-small: 2px 2px 6px #b5b5b5f3, -2px -2px 6px #fffffff6;
	--shadow-dark-inset-small: inset 2px 2px 6px #b5b5b5f3,
		inset -2px -2px 6px #fffffff6;

	/* Size */
	--main-width: 500px;
	--base-space: 10px;
	--font-size: 14px;

	/* Animation */
	--animation-duration: 0.3s;
	--animation-timing: ease-in-out;

	/* Font */
	--font-family: 'Noto Sans KR', sans-serif;
}

/* Common */
* {
	box-sizing: border-box;
}

body,
input,
textarea,
button {
	color: var(--color-black);
	font-family: var(--font-family);
	font-size: var(--font-size);
}

button {
	padding: var(--base-space);
	border-radius: calc(var(--base-space) / 2);
	background-color: var(--color-gray-light);
	box-shadow: var(--shadow-light);
	transition: box-shadow var(--animation-duration) var(--animation-timing);
	font-weight: bold;
}
button.gray {
	background-color: var(--color-gray);
	box-shadow: var(--shadow-gray);
}
button.dark {
	background-color: var(--color-gray-dark);
	box-shadow: var(--shadow-dark);
}
button.blue {
	background-color: var(--color-blue);
	box-shadow: var(--shadow-blue);
}

button:hover {
	box-shadow: var(--shadow-light-small);
}
button.gray:hover {
	box-shadow: var(--shadow-gray-small);
}
button.dark:hover {
	box-shadow: var(--shadow-dark-small);
}
button.blue:hover {
	box-shadow: var(--shadow-blue-small);
}

button:active {
	box-shadow: var(--shadow-light-inset-small);
}
button.gray:active {
	box-shadow: var(--shadow-gray-inset-small);
}
button.dark:active {
	box-shadow: var(--shadow-dark-inset-small);
}
button.blue:active {
	box-shadow: var(--shadow-blue-inset-small);
}

button.add {
	color: var(--color-blue-dark);
}
button.check,
button.delete-all {
	padding: 0;
}

svg {
	fill: var(--color-blue-dark);
}
svg.black {
	fill: var(--color-black);
}

input {
	display: none;
	margin-left: var(--base-space);
	padding: calc(var(--base-space) / 2);
	border-radius: calc(var(--base-space) / 2);
	background-color: var(--color-gray-light);
	box-shadow: var(--shadow-light-inset);
}

textarea:active,
textarea:focus,
input:active,
input:focus {
	box-shadow: var(--shadow-light-inset-small);
}

/* Layout */
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--color-gray-light);
}

.categories {
	display: flex;
	margin-bottom: calc(var(--base-space) * 2);
}

.categories .btn:not(:last-of-type) {
	margin-right: var(--base-space);
}

main {
	position: relative;
	width: var(--main-width);
	border-radius: var(--base-space);
	background-color: var(--color-white);
	box-shadow: var(--shadow-light);
}

.header__inner {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: var(--main-width);
	padding: calc(var(--base-space) * 2);
	border-radius: var(--base-space) var(--base-space) 0 0;
	background-color: var(--color-blue);
}
.header__inner__title {
	font-size: calc(var(--font-size) * 1.5);
}

.main-section {
	overflow-y: auto;
	max-height: 80vh;
	margin-top: 78px;
}
.add-on .main-section {
	margin-top: 0;
}

/* Add Todo Area */
.add-section {
	display: none;
	margin-top: 0;
}
.add-on .add-section {
	display: block;
	padding-top: 78px;
	background-color: var(--color-blue);
}
.border-container {
	display: flex;
	flex-direction: column;
	margin: 0 calc(var(--base-space) * 2);
	border: 3px solid var(--color-blue-dark);
	border-radius: calc(var(--base-space) / 2);
	background-color: var(--color-gray-light);
}
.add-section__input {
	display: block;
	margin: var(--base-space) var(--base-space) 0;
	padding: var(--base-space);
	border-radius: calc(var(--base-space) / 2);
	background-color: var(--color-gray-light);
	box-shadow: var(--shadow-light-inset);
}
.add-section__buttons {
	padding: var(--base-space);
}
.add-section__buttons .btn {
	font-size: calc(var(--font-size) * 0.9);
}

/* ToDoList */
/* Counter */
.todos-counter {
	padding: var(--base-space) calc(var(--base-space) * 2);
	background-color: var(--color-blue-light);
}
.todos-counter__title {
	font-size: var(--font-size);
}
.todos-counter.complete {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-radius: 0 0 var(--base-space) var(--base-space);
	background-color: var(--color-gray-dark);
}
.complete .todos-counter__title {
	margin-right: var(--base-space);
	text-decoration: underline;
	cursor: pointer;
}

/* List */
.todo {
	display: flex;
	align-items: center;
	padding: calc(var(--base-space) * 2);
	margin-bottom: calc(var(--base-space) / 2);
}
.todo:last-of-type {
	margin-bottom: 0;
}
.todo.incomplete {
	background-color: var(--color-gray-light);
}
.todo.complete {
	display: none;
	background-color: var(--color-gray);
}
.display .todo.complete {
	display: flex;
}

.todo__title {
	word-break: break-all;
	width: 70%;
	padding: 0 var(--base-space);
	font-size: calc(var(--font-size) * 1.1);
}
.edit-on .todo__title {
	display: none;
}
.complete .todo__title {
	text-decoration: line-through;
}

.edit-on .todo__input {
	display: block;
	width: 70%;
}

.add-section__buttons,
.todo__buttons {
	display: flex;
	margin-left: auto;
}
.add-section__buttons .btn:not(:last-of-type),
.todo__buttons .btn:not(:last-of-type) {
	margin-right: var(--base-space);
}
